DATABASE_URL=postgresql://postgres:password@localhost:5432/cammini_local
PGSSLMODE=disable
# SQLITE_PATH=./gpx_viewer.db
# TARGET_DATABASE_URL=postgresql://postgres:password@localhost:5432/cammini_target
